.stickyNavigationBar {
  width: 100%;
  max-width: 100vw;
  margin-top: -84px;
  background-color: white;
  position: sticky;
  top: 0px;
  left: 0px;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 1fr;
  align-items: center;
  z-index: 100;
}

.logo--stickyNav {
  max-width: 100px;
  justify-self: end;
}

.sitckyNavigationBar__socials {
  width: 100px;
  margin-left: 32px;
}

@media(max-width:720px) {
  .stickyNavigationBar {
    display: none;
  }
}