.searchingForm {
  max-width: 1200px;
  margin: 152px auto 0px auto;
  padding: 48px 50px;
  background-color: #ED7180;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
}

.searchingForm::after {
  content: "";
  width: 100%;
  height: 65px;
  position: absolute;
  top: 137px;
  left: 0px;
  background-image: url("../../../images/searchWaveBorder.svg");
  background-size: 100%;
}

.searchingForm__mobileButton {
  display: none;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  margin-right: 21px;
}

.searchingForm__label {
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}

.searchingForm__input {
  max-width: 100%;
  background: #fff;
  padding: 14px 12px 17px 21px;
}

.MuiFormControl-root {
  max-width: 100%;
  background: #fff;
  padding: 14px 12px 17px 21px;
}

.searchingForm__button {
  width: 100%;
  max-width: 260px;
  margin-top: 30px;
  padding: 15px 13px 16px 13px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  color: white;
  background: #262037;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchingForm__button--stickyMenu {
  width: 100%;
  max-width: 160px;
  padding: 16px;
  margin-top: 0;
}

.react-date-picker__wrapper {
  border: none;
}

@media(max-width:415px) {
  .searchingForm {
    display: block;
    padding: 0;
    margin-top: 128px;
  }
  .inputWrapper {
    display: none;
  }
  .searchingForm__button {
    display: none;
  }
  .searchingForm::after {
    content: "";
    background-image: none;
  }
  .searchingForm__mobileButton {
    display: unset;
    width: 100%;
    height: 100%;
    padding: 16px 37px;
    background: transparent;
    border: transparent;
    color: white;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.3;
  }
}