.section__buttonLink--about {
  background-color: #E54A0F;
  color: #fff;
  margin-bottom: 223px;
}

.section--about {
  height: 980px;
  background-image: url("../../images/aboutBaner.png");
  background-repeat: no-repeat;
  text-align: left;
  align-items: flex-start;
  padding-left: 55%;
}

.section__header--about {
  margin-top: 130px;
  align-items: flex-start;
}

.section__description--main {
  max-width: 60%;
  font-size: 24px;
  text-align: left;
  margin-bottom: 29px;
}

.section__description--sub {
  max-width: 580px;
  text-align: left;
  margin-bottom: 29px
}

.section__importantTex {
  font-weight: 700;
}

@media(max-width:1400px) {
  .section--about {
    margin-top: 0px;
    background-image: url("../../images/aboutBackgroundSmall.png");
    background-size: cover;
    padding: 0px 20px 34px 20px;
    align-items: center;
  }
  .section__header--about {
    height: auto;
    margin-top: 0px;
    align-items: flex-start;
  }
  .section__description--main {
    max-width: 100%;
    font-size: 18px;
    margin-bottom: 12px;
  }
  .section__description--sub {
    max-width: 100%;
    font-size: 16px;
    margin-bottom: 0;
  }
  .section__description--sub:nth-child(2) {
    display: none;
  }
  .section__HeaderImage--about {
    display: unset;
  }
}