.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  color: #262038;
  position: relative;
  padding: 0 10px;
  background: #FFF8F8;
}

.section--pageVersion {
  max-width: 1072px;
  margin: 50px auto 100px;
  background: #fff;
  padding: 0 72px;
}

.section__wave {
  position: absolute;
  right: 0;
  top: -8%;
}

.section__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__header--pageVersion {
  margin-top: 52px;
  margin-bottom: 36px;
  align-self: flex-start;
}

.section__headerTitle {
  margin: 0;
  font-size: 48px;
  line-height: 1.2;
}

.section__headerTitle--pageVersion {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  color: #262038;
}

.section__headerWave {
  margin-top: 22px;
  margin-bottom: 28px;
}

.section__description {
  max-width: 762px;
  margin-top: 0;
  margin-bottom: 81px;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
}

.section__description--pageVersion {
  margin-bottom: 5px;
  align-self: flex-start;
  text-align: left;
  max-width: 100%;
  line-height: 1.8;
}

.section__buttonLink {
  width: 260px;
  margin-top: 60px;
  margin-bottom: 130px;
  padding: 0;
  display: block;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: #ED7180;
  border-radius: 5px;
  border: 1px solid #ED7180;
  background: transparent;
}

.section__buttonLink:hover {
  filter: brightness(110%);
}

.section__linkTo {
  display: block;
  width: 100%;
  height: 100%;
  padding: 16px 0;
  text-decoration: none;
  color: inherit;
}

.pageImage {
  width: 100%;
}

.section__HeaderImage {
  display: none;
}

.section__ulList {
  list-style: none;
}

.section__listItem:before {
  content: "\2022";
  color: #ED7180;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em
}

.imageWrapper {
  display: flex;
  margin-bottom: 31px;
}

.imageWrapper img {
  margin-right: 15px;
}

.imageWrapper img:last-child {
  margin-right: 0;
}

.section__olList {
  padding: 15px;
  line-height: 2;
}

.section__olItem:before {
  content: "";
  color: green;
  font-weight: bold;
  display: inline-block;
  width: 18px;
  margin-left: -1em
}

@media(max-width:1250px) {
  .section__wave {
    width: 29%;
    right: -10%;
    top: -10%;
  }
}

@media(max-width:1000px) {
  .imageWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 31px;
  }
  .imageWrapper img {
    margin-bottom: 15px;
  }
  .imageWrapper img:last-child {
    margin-bottom: 0;
  }
}

@media(max-width:900px) {
  .section__wave {
    width: 25%;
    right: -10%;
    top: -10%;
  }
}

@media(max-width:720px) {
  .section {
    margin-top: 0;
    padding: 0;
    padding-left: 20px;
  }
  .section--pageVersion {
    max-width: 1072px;
    margin: 50px auto 100px;
    background: #fff;
    padding: 0 72px;
  }
  .section__wave {
    margin-top: 47px;
    right: -15%;
    top: -7%;
  }
  .section__headerTitle {
    margin-top: 47px;
    font-size: 30px;
  }
  .section__headerWave {
    margin-bottom: 23px;
  }
  .section__description {
    max-width: 89%;
    text-align: left;
    margin-bottom: 8px;
  }
  .section__buttonLink {
    margin-top: 30px;
    margin-bottom: 29px;
  }
}