.slider {
  max-width: 100vw;
  align-self: flex-start;
  display: flex;
  align-items: center;
  vertical-align: center;
  margin: auto;
}

.rec.rec-arrow {
  background: #ED7180;
  margin-bottom: 100px;
  color: white;
}

.rec.rec-arrow:hover:enabled {
  background: #ED7180;
}

.rec.rec-arrow:focus:enabled {
  background: #ED7180;
  color: white;
  border-color: #ED7180;
}

.rec.rec-arrow:disabled {
  background: grey;
}

.rec.rec-dot {
  background: #ffbbba;
  border-color: #ffbbba;
  box-shadow: unset;
  display: none;
}

.rec.rec-dot_active {
  background: #ED7180;
  border-color: #ED7180;
}

@media(max-width:720px) {
  .rec.rec-arrow {
    display: none;
  }
  .rec.rec-dot {
    box-shadow: unset;
    display: unset;
  }
  .rec-slider-container {
    width: 100vw;
  }
  .rec.rec-item-wrapper {
    width: auto !important;
  }
  .rec.rec-slider-container {
    margin: 0;
  }
}