.mobileBar {
  display: none;
}

.unvisible {
  display: none;
}

.visible {
  display: none;
}

@media(max-width:415px) {
  .mobileBar {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    position: relative;
  }
  .unvisible {
    display: none;
  }
  .visible {
    width: 100%;
    display: unset;
    z-index: 100;
    position: absolute;
    bottom: 80px;
    right: 0;
  }
  .mobileBar__button {
    border: none;
    background: white;
    padding: 25px 0;
  }
  .mobileBar__button {
    font-size: 16px;
    line-height: 1.3;
    font-weight: 700;
    text-align: center;
    color: #ED7180;
  }
  .mobileBar__button--menuActive {
    background: #F1EFF8;
  }
  .searchIcon {
    background: currentColor;
    background-color: #ED7180;
  }
  .mobileNavigationBar {
    padding: 38px 177px 44px 58px;
    display: flex;
    flex-direction: column;
    background: #F1EFF8;
    box-shadow: 0px -10px 20px rgba(0, 0, 0, 0.25);
  }
  .mobileNavList {
    padding: 0px;
    list-style-type: none;
    font-size: 20px;
    font-weight: 700;
    line-height: 2.5;
    color: #272137;
    margin: 0;
  }
  .mobileNavList__link {
    color: #272137;
    text-decoration: none;
    position: relative;
  }
  .mobileNavList__link:active::after {
    content: "";
    width: 100%;
    height: 10px;
    top: 29px;
    left: 0px;
    position: absolute;
    background-image: url("../../images/borderLink.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
  }
  .langButtonWrapper {
    margin-top: 16px;
    margin-bottom: 29px;
  }
  .mobileNavList__language {
    border: 1px solid #DAD4EE;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px;
    margin-right: 8px;
    background-color: transparent;
  }
  .mobileNavList__language--active {
    background: #DAD4EE;
  }
  .mobileNavList__language:active {
    background: #DAD4EE;
  }
}